/* #nav-box{
    display: flex;
    justify-content: center;
border: 1px solid black;
} */
#nav-box{
    /* background-color: black; */
/* margin-right: auto;        */
 /* color: green;
 margin-top: 0.5%;
 margin-left: 0.5%; */
}

/* #nav-box h1:nth-child(1n){
border: 2px solid green;
border-radius: 15px;
padding: 5px;
} */

.navbar{
    background-color: black;
  

}

.navbar-light {
    color: white;
}
.navbar a:hover{
color:orange}

